@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
@foreach (var node in Model)
{
    if (node == Model.First())
    {
        continue;
    }
    <li class="breadcrumb-item @(node == Model.Last()?"active":"")"> @node.Title</li>
}