@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@foreach (var node in Model)
{
    <li class="nav-item @(node.Children.Any()? "has-treeview":"")">
        @Html.DisplayFor(m => node)
        @if (node.Children.Any())
        {
            <ul class="nav nav-treeview">
                @Html.DisplayFor(m => node.Children)
            </ul>
        }
    </li>
}